#This Apache config file was created by Duplicator Installer on 2019-08-03 02:36:29.
#The original can be found in archived file with the name htaccess.orig
RewriteRule ^(viettel|vinaphone|mobifone|vietnamobile|gmobile|itelecom)/([\d]{10})\.jpg$ /wp-content/themes/minosim/sim/index.php?network=$1&sim=$2 [L,QSA,NC]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress